[Unit]
Description=Consul server agent
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/script/run_consul.sh 
ExecReload=/usr/local/bin/consul reload
ExecStop=/usr/local/bin/consul agent leave 
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
